[Unit]
Description=OpenARC daemon
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
User=openarc
Group=openarc
ExecStart=/usr/bin/openarc -x /etc/openarc/openarc.conf
RuntimeDirectory=openarc
RuntimeDirectoryMode=0750

[Install]
WantedBy=multi-user.target

