pkgbase = gregorio
	pkgdesc = Command-line tool to typeset Gregorian chant
	pkgver = 6.0.0
	pkgrel = 2
	url = https://gregorio-project.github.io
	arch = i686
	arch = x86_64
	license = GPL-3.0-only
	license = OFL-1.1
	license = GPL-3.0-only WITH Font-exception-2.0
	depends = python
	depends = texlive-core
	depends = texlive-fontsextra
	depends = texlive-bin
	depends = texlive-formatsextra
	depends = texlive-latexextra
	provides = gregorio
	conflicts = gregorio-svn
	conflicts = gregorio-git
	conflicts = gregoriotex
	source = https://github.com/gregorio-project/gregorio/releases/download/v6.0.0/gregorio-6.0.0.tar.bz2
	source = https://github.com/gregorio-project/gregorio/releases/download/v6.0.0/supp_fonts-6_0_0.zip
	source = https://openfontlicense.org/documents/OFL.txt
	source = Font-Exception-2.0
	sha256sums = e2a3da9cb760cfd3bd152440bbd40c1776be430de8f421dc21cee70ae48a63b2
	sha256sums = 22d3c890c32f2e4e4be35b8245f5a2772dd05a6954f08c3c9b02a8002142e07f
	sha256sums = 1d361a8f8e8ce6e68457dcd93fb56e162e6baa3bbb7e7573a290d44399f6b57e
	sha256sums = 000c7fc2d306b8f74db81d1b44ce9a96da4c1674185714cbe4e9d6b82db45aa7

pkgname = gregorio
